.des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font: 16px/1.5 'Open Sans', sans-serif;

  // Don't allow the user to select the text

  ul {
    user-select: none;
  }

  /* Added styles to spread and center the links */
  &>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
  transition-duration: 0.4s;
}

a:hover {
  color: #008080;
  font-size: large;

  /* Added styles to underline the link */
  // text-decoration: underline;
}

.active {
  color: #008080;
}